_build
.DS_Store

.python-version
__pycache__/
*.py[cod]
*$py.class

venv

.vscode
*.DS_Store
/.idea/

_pagefind/

# Vim
*.swp
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/ESPHome_doc_fork/v16/Browse.VC.opendb
/.vs/ESPHome_doc_fork/v16/Browse.VC.db-wal
/.vs/ESPHome_doc_fork/v16/Browse.VC.db-shm
/.vs/ESPHome_doc_fork/v16/Browse.VC.db
/.vs/ESPHome_doc_fork/v16/.suo
/.vs/ESPHome_doc_fork/v16
