{% extends 'alabaster/layout.html' %}

{%- block doctype %}
  <!DOCTYPE html>
{% endblock %}

{%- block extrahead %}
  <link href="/pagefind/pagefind-modular-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ pathto('_static/custom.css', 1) }}?hash={{ custom_css_hash }}" type="text/css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/_static/apple-touch-icon.png">
  <link rel="shortcut icon" href="/_static/favicon.ico">
  <link rel="icon" type="image/png" sizes="512x512" href="/_static/favicon-512x512.png">
  <link rel="icon" type="image/png" sizes="256x256" href="/_static/favicon-256x256.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/_static/favicon-192x192.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/_static/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/_static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/_static/favicon-16x16.png">
  <link rel="manifest" href="/_static/site.webmanifest">
  <link rel="mask-icon" href="/_static/safari-pinned-tab.svg" color="#646464">
  <link rel="me" href="https://fosstodon.org/@esphome">
  <meta name="apple-mobile-web-app-title" content="ESPHome">
  <meta name="application-name" content="ESPHome">
  <meta name="msapplication-TileColor" content="#dfdfdf">
  <meta name="msapplication-config" content="/_static/browserconfig.xml">
  <meta name="theme-color" content="#dfdfdf">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta property="og:site_name" content="ESPHome">
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9">
{% endblock %}

{% block relbar_top %}
  <ul class="breadcrumbs">
  {% if parents|length > 0 %}
    {%- for doc in parents %}
      <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> ➔</li>
    {%- endfor %}
      <li>{{title}}</li>

  {% endif %}
  </ul>
  <div class="search-results" id="search-results"></div>
{% endblock %}

{% block footer %}
  <div id="upgrade-footer">
    A new version has been released since you last visited this page: {{ release }} 🎉
    <div class="footer-button-container">
      <div role="button" id="upgrade-footer-dismiss" class="footer-button">Dismiss</div>
      <a id="upgrade-footer-changelog" class="footer-button" href="/changelog/{{ version }}.0.html">View Changelog</a>
    </div>
  </div>
  <script>
    var old = window.localStorage.getItem("version");
    if (old === null || window.location.pathname.lastIndexOf("/changelog/", 0) === 0) { window.localStorage.setItem("version", "{{ version }}");
    } else if (old !== "{{ version }}") {
      const footerEl = document.getElementById("upgrade-footer");
      footerEl.classList.add("not-hidden");
      footerEl.addEventListener('click', function () {
        window.localStorage.setItem("version", "{{ version }}");
        footerEl.classList.remove("not-hidden");
      });
    }
  </script>
{% endblock %}
