.row-odd {
  background-color: #f3f6f6;
}
table:not(.no-center) tr.row-even > td {
  text-align: center;
}

img.component-image {
  border: none;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 85px;
  object-fit: contain;
}

table.docutils {
  width: 100%;
}

.blink-tag {
  -webkit-animation: 2s linear infinite blink_effect;
  animation: 2s linear infinite blink_effect;
}
@-webkit-keyframes blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
}
}
@keyframes blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#upgrade-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(20,20,20,0.8);
  min-height: 26px;
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
  padding: 8px 0 8px 30px;
  z-index: 9999;
  display: none
}
#upgrade-footer-changelog {
  background-color: #b3b3b3;
  color: #4e4e4e;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  float: right;
  margin: 0 60px 0 10px;
  text-decoration: none;
}
.not-hidden {
  display: block !important;
}
