.row-odd {
  background-color: #f3f6f6;
}
table:not(.no-center) tr.row-even > td {
  text-align: center;
}

img.component-image {
  border: none;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 85px;
  object-fit: contain;
}

table.docutils {
  width: 100%;
}

.blink-tag {
  -webkit-animation: 2s linear infinite blink_effect;
  animation: 2s linear infinite blink_effect;
}
@-webkit-keyframes blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
}
}
@keyframes blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}